@import url("./fonts.css");
@import url("./fonts/fontawesome-free-6.4.0-web/css/all.min.css");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 1.16;
  font-weight: 400;
  color: #383838;
}

input {
  border: 0;
  margin: 0;
  height: 100%;
  padding: 0 24px;
  outline: none;
  font: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.container {
  max-width: 1440px;
  padding: 0 104px;
  margin: 0 auto;
}

.header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 51px;
  left: 0;
  right: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  height: 46px;
}

.header__logo {
  width: 205px;
  height: 40px;
  margin-bottom: 6px;
}

.header__nav {
  display: flex;
  gap: 48px;
  height: 46px;
}

.header__info {
  display: flex;
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 12px;
  gap: 24px;
}

.header__link {
  position: relative;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.header__link:after {
  position: absolute;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #f5bd41;
  content: "";
  top: 40px;
  transition: width 0.3s ease-out;
}

.header__link:hover:after,
.header__link:focus:after {
  width: 100%;
}

.header__button-wrap {
  height: 46px;
}

.header__img-night {
  width: 30px;
  height: 30px;
  margin: 5px 24px 11px 0;
}
.header__img-login {
  width: 40px;
  height: 40px;
  margin-bottom: 6px;
}

.top-section {
  min-height: 100vh;
  background-image: url("../images/jpg/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 293px;
  padding-bottom: 120px;
}

.top-section__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-section__title {
  color: white;
  max-width: 542px;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 145px;
}

.top-section__form-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1232px;
  margin-bottom: 120px;
}

.top-section__search {
  height: 64px;
  border: 3px solid #f3f3f4;
}

.search-form {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  align-items: center;
}

input::placeholder {
  font-size: 18px;
  color: #383838;
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

.search-form__input-wrap {
  position: relative;
  height: 100%;
}

.search-form__input-wrap:first-of-type {
  max-width: 100%;
  flex-grow: 1;
}

.search-form__input-wrap:nth-of-type(2) {
  height: 64px;
}
.search-form__input-city {
  width: 100%;
  text-align: left;
  font-size: 18px;
}

.search-form__input-date {
  width: 100%;
  max-width: 259px;
  border: 3px solid #f5bd41;
  border-radius: 8px;
  height: 64px;
  font-size: 18px;
  text-align: center;
}

.search-form__input-adults {
  width: 100%;
  max-width: 314px;
  text-align: center;
}

.search-form__button-search {
  width: 100%;
  max-width: 192px;
  height: 64px;
  background: #3077c6;
  border-radius: 8px;
  margin-right: -3px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  color: white;
}

.search-form__input-wrap > label {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  transition: all 0.3s;
  pointer-events: all;
  font-size: 18px;
}

.search-form__input-city:focus ~ label,
.search-form__input-date:focus ~ label,
.search-form__input-city:not(:focus):valid ~ label,
.search-form__input-date:not(:focus):valid ~ label {
  top: -24px;
  color: #ffffff;
  opacity: 1;
}

.top-section__download-wrap {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.top-section__google-play {
  width: 135px;
  height: 40px;
}

.top-section__app-store {
  width: 120px;
  height: 40px;
}

.offer {
  padding: 120px 0;
}

.offer__title {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}

h2:after {
  content: " ";
  width: 100px;
  display: flex;
  border: 2px solid #f5bd41;
  margin: 20px auto 80px;
}

.row {
  display: flex;
  gap: 16px;
}

.col {
  width: 25%;
}

.offer__content {
  text-align: center;
}

.offer__img {
  width: 100px;
  height: 100px;
  margin-bottom: 48px;
}

.offer__subtitle {
  font-size: 24px;
  font-weight: 400;
}

.footer {
  background-color: #10367c;
  color: #ffffff;
  padding: 120px 0;
}

.col {
  width: 33.3333%;
}

.footer__list {
  font-size: 20px;
}

.footer__item {
  margin-bottom: 24px;
}

.footer__link {
  color: #ffffff;
  text-decoration: none;
}

.footer__title {
  font-weight: 500;
}

.footer__author {
  font-size: 14px;
  margin-top: 40px;
}
