@import url("./fonts.css");
@import url("../fonts/font-awesome/css/all.min.css");

:root {
  --primary-color: #3077c6;
  --primary-dark-color: #10367c;
  --accent-color: #f5bd41;
  --text-color: #383838;
  --secondary-text-color: #bfbfbf;
  --general-white-color: #ffffff;
  --border-light-color: #f3f3f4;
  --bg-color: #eaf0f9;

  --max-width-container: 1232px;
  --padding-container: 104px;

  --col-width: calc(100% / 12);

  --unit: 16px;
  --block-space: 120px;
  --title-bottom: 104px;
  --basic-radius: 8px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: var(--general-white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 1.16;
  font-weight: 400;
  color: var(--text-color);
}

input {
  border: 0;
  margin: 0;
  height: 100%;
  padding: 0;
  outline: none;
  font: inherit;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

.container {
  max-width: calc(var(--max-width-container) + var(--padding-container) * 2);
  padding: 0 var(--padding-container);
  margin: 0 auto;
}

.button {
  text-align: center;
  border-radius: var(--basic-radius);
}

.lg-1-col {
  grid-template-columns: 1fr;
}

.lg-2-col {
  grid-template-columns: repeat(2, 1fr);
}

.lg-3-col {
  grid-template-columns: repeat(3, 1fr);
}

.lg-4-col {
  grid-template-columns: repeat(4, 1fr);
}

.lg-5-col {
  grid-template-columns: repeat(5, 1fr);
}

.lg-6-col {
  grid-template-columns: repeat(6, 1fr);
}

.lg-7-col {
  grid-template-columns: repeat(7, 1fr);
}

.lg-8-col {
  grid-template-columns: repeat(8, 1fr);
}

.lg-9-col {
  grid-template-columns: repeat(9, 1fr);
}

.lg-10-col {
  grid-template-columns: repeat(10, 1fr);
}

.lg-11-col {
  grid-template-columns: repeat(11, 1fr);
}

.lg-12-col {
  grid-template-columns: repeat(12, 1fr);
}

[class*="-col"] {
  display: grid;
  gap: var(--unit);
  grid-template-rows: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-lg-1 {
  width: var(--col-width);
}

.col-lg-2 {
  width: calc(var(--col-width) * 2);
}

.col-lg-3 {
  width: calc(var(--col-width) * 3);
}

.col-lg-4 {
  width: calc(var(--col-width) * 4);
}

.col-lg-5 {
  width: calc(var(--col-width) * 5);
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: calc(var(--col-width) * 7);
}

.col-lg-8 {
  width: calc(var(--col-width) * 8);
}

.col-lg-9 {
  width: calc(var(--col-width) * 9);
}

.col-lg-10 {
  width: calc(var(--col-width) * 10);
}

.col-lg-11 {
  width: calc(var(--col-width) * 11);
}

.col-lg-12 {
  width: 100%;
}

[class*="col-"] {
  padding-left: calc(var(--unit) / 2);
  padding-right: calc(var(--unit) / 2);
}

.header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  left: 0;
  right: 0;
}

.header__wrapper {
  display: grid;
  align-items: center;
  height: 46px;
}

.header__logo {
  display: inline-block;
  max-width: 205px;
  height: 40px;
  margin-bottom: 6px;
}

.header__icon {
  width: 100%;
  height: 100%;
  fill: var(--primary-color);
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  gap: calc(var(--unit) * 3);
}

.header__menu {
  display: flex;
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 12px;
  gap: 24px;
}

.header__link {
  position: relative;
  color: var(--general-white-color);
  cursor: pointer;
  text-decoration: none;
}

.header__link:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 40px;
  width: 0;
  height: 4px;
  background-color: var(--accent-color);
  transition: width 0.3s ease-out;
}

.header__link:hover:after,
.header__link:focus:after {
  width: 85%;
}

.header__buttons {
  display: flex;
  gap: 24px;
}

.header__button:last-child {
  display: none;
}

.header__img-night {
  fill: var(--general-white-color);
  width: 100%;
  max-width: 30px;
  aspect-ratio: 1/1;
  margin: 5px 0 11px;
}

.header__img-login,
.header__img-menu {
  fill: var(--general-white-color);
  width: 100%;
  max-width: 40px;
  aspect-ratio: 1/1;
  margin-bottom: 6px;
}

.header__img-night:hover,
.header__img-login:hover,
.header__img-menu:hover {
  fill: var(--accent-color);
}

.top-section {
  min-height: 100vh;
  background-image: url("../images/jpg/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 293px;
  padding-bottom: var(--block-space);
}

.top-section__title-wrap {
  margin-bottom: 145px;
}

.top-section__title {
  color: white;
  max-width: 542px;
  font-weight: 500;
  font-size: 50px;
}

.search-form {
  border: 3px solid var(--border-light-color);
  height: 64px;
  gap: 0;
  border-radius: var(--basic-radius);
  background-color: white;
  margin-bottom: 120px;
  grid-template-columns:
    minmax(150px, 1fr) minmax(150px, 259px) minmax(150px, 314px)
    minmax(150px, 192px);
}

.search-form__input-wrap {
  position: relative;
  white-space: normal;
  font-size: 18px;
  height: calc(100% + 3px * 2);
}

.search-form__input {
  width: 100%;
  padding: 0 24px;
  margin-top: -3px;
  background: transparent;
}

.search-form__input--city {
  margin-left: -3px;
}

.search-form__input:hover {
  border: 3px solid var(--accent-color);
  border-radius: var(--basic-radius);
}

input::placeholder {
  font-size: 18px;
  color: var(--text-color);
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

.search-form__button-search {
  width: 100%;
  height: calc(100% + 3px * 2);
  background: var(--primary-color);
  border-radius: var(--basic-radius);
  font-weight: 500;
  font-size: 24px;
  color: white;
  margin-left: 3px;
  margin-top: -3px;
}

.search-form__button-search:hover,
.search-form__button-search:focus {
  background-color: var(--primary-dark-color);
  border: 3px solid var(--accent-color);
  border-radius: var(--basic-radius);
}

.search-form__input-wrap > label {
  position: absolute;
  top: 45%;
  left: 24px;
  transform: translateY(-50%);
  transition: all 0.3s;
  pointer-events: all;
  font-size: 18px;
}

.search-form__input:focus ~ label,
.search-form__input:not(:focus):valid ~ label {
  top: -40px;
  color: var(--general-white-color);
  opacity: 1;
}

.search-form--md-sm {
  display: none;
}

.top-section__download-wrap {
  display: flex;
  justify-content: center;
  gap: var(--unit);
}

.top-section__download {
  height: 40px;
}

.top-section__icon-google {
  width: 135px;
  height: 100%;
}

.top-section__icon-apple {
  width: 120px;
  height: 100%;
}

.offer {
  padding-top: var(--block-space);
  padding-bottom: var(--block-space);
}

.offer__title {
  position: relative;
  margin-bottom: var(--title-bottom);
}

.offer__title:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  left: 50%;
  bottom: -24px;
  transform: translate(-50%);
  background-color: var(--accent-color);
}

.offer__card {
  text-align: center;
  padding-right: var(--unit);
  padding-left: var(--unit);
}

.offer__img {
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1/1;
  margin-bottom: calc(var(--unit) * 3);
}

.apartments {
  background-color: var(--bg-color);
  padding-top: var(--block-space);
  padding-bottom: var(--block-space);
}

.apartments__title {
  margin-bottom: var(--title-bottom);
}

.apartments__wrap-cards {
  position: relative;
}

.apartments__wrap-cards:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--border-light-color);
  background-image: url("../images/svg/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  top: 128px;
  right: -12px;
  box-shadow: 0 4px rgba(0, 0, 0, 25%);
  cursor: pointer;
}

.apartments__wrap-cards:hover:before {
  background-color: var(--accent-color);
}

.apartments__img {
  max-width: 296px;
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 24px;
}

.apartments__link {
  display: block;
  font-size: 24px;
  text-decoration: none;
  color: var(--primary-color);
  margin-bottom: 24px;
}

.apartments__link:hover,
.apartments__link:focus {
  color: var(--accent-color);
}

.apartments__subtitle {
  color: var(--secondary-text-color);
}

.destinations {
  padding-top: var(--block-space);
  padding-bottom: var(--block-space);
}

.destinations__title {
  margin-bottom: var(--title-bottom);
}

.destinations__wrap-form {
  margin-bottom: calc(var(--unit) * 4);
}

.destinations__form {
  display: flex;
  width: 100%;
  max-width: 622px;
  height: 64px;
  background-color: var(--border-light-color);
  border-radius: var(--basic-radius);
  font-size: 24px;
  font-weight: 400;
}

.destinations__button-regions,
.destinations__button-cities {
  width: 100%;
  max-width: 192px;
}

.destinations__button-places {
  width: 100%;
  max-width: 238px;
}

.destinations__form > button:hover {
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.destinations__form > button:focus {
  background-color: var(--primary-color);
  color: var(--general-white-color);
}

.destinations__form > button:active {
  background-color: var(--primary-color);
  color: var(--general-white-color);
  border-radius: var(--basic-radius);
}

.destinations__wrap-cards {
  position: relative;
  margin-bottom: 88px;
}

.destinations__wrap-img {
  display: flex;
  position: relative;
}

.destinations__wrap-cards:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--border-light-color);
  background-image: url("../images/svg/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  left: 48.5%;
  top: calc(101% + var(--unit) * 3);
  transform: rotate(90deg);
  box-shadow: 4px 0 rgba(0, 0, 0, 25%);
  cursor: pointer;
}

.destinations__wrap-cards:hover:before {
  background-color: var(--accent-color);
}

.destinations__img {
  max-width: 296px;
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 24px;
}

.destinations__button-book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--general-white-color);
  border: 1px solid var(--primary-color);
  width: 100%;
  max-width: 128px;
  height: calc(var(--unit) * 3);
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-color);
  display: none;
}

.destinations__wrap-img:hover img {
  filter: brightness(40%);
  background-color: rgba(56, 56, 56, 40%);
  box-shadow: inset 0 4px 70px rgba(56, 56, 56, 0.5);
}

.destinations__wrap-img:hover button {
  display: block;
}

.destinations__link {
  display: block;
  font-size: 24px;
  text-decoration: none;
  color: var(--primary-color);
}

.destinations__link:hover,
.destinations__link:focus {
  color: var(--accent-color);
}

.sing-up {
  position: relative;
  background-color: var(--bg-color);
  padding: 52px 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.sing-up__close {
  position: absolute;
  color: var(--secondary-text-color);
  top: 20px;
  right: 24px;
  font-size: 34px;
  cursor: pointer;
}

.sing-up__logo {
  width: 86px;
  height: 86px;
  background-color: var(--general-white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sing-up__svg {
  width: 50px;
  height: 45px;
  fill: var(--primary-color);
}

.sing-up__logo-sm {
  display: none;
}

.sing-up__title {
  font-weight: 500;
  margin-bottom: 22px;
}

.sing-up__part-title {
  display: none;
}

.sing-up__button {
  background: var(--general-white-color);
  border: 1px solid var(--primary-color);
  width: 100%;
  max-width: 128px;
  height: 48px;
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-color);
}

.sing-up__button:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.sing-up__button-sm {
  display: none;
}

.reviews__wrap-cards {
  position: relative;
  font-size: 18px;
}

.reviews__wrap-cards:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--border-light-color);
  background-image: url("../images/svg/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  left: 98%;
  top: 24%;
  transform: rotate(0deg);
  box-shadow: 0 4px rgba(0, 0, 0, 25%);
  cursor: pointer;
  z-index: 1;
}

.reviews__wrap-cards:hover:before {
  background-color: var(--accent-color);
}

.reviews {
  padding-top: var(--block-space);
  padding-bottom: var(--block-space);
}

.reviews__title {
  margin-bottom: var(--title-bottom);
}

.reviews__sm {
  display: none;
}

.reviews__card {
  align-items: stretch;
  display: flex;
}

.review {
  background-color: var(--bg-color);
}

.review__wrap-img {
  display: flex;
  position: relative;
}

.review__img {
  max-width: 400px;
  width: 100%;
  aspect-ratio: 1/1;
}

.review__price {
  position: absolute;
  height: 48px;
  background-color: rgba(56, 56, 56, 0.7);
  color: var(--general-white-color);
  padding: 0 24px;
  display: flex;
  align-items: center;
  width: 100%;
  bottom: 0;
}

.review__card-content {
  padding: 24px;
}

.review__wrap-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.review__links {
  display: flex;
  flex-direction: column;
  gap: var(--unit);
}

.review__link {
  text-decoration: none;
  color: var(--primary-color);
}

.review__link-name {
  font-weight: 500;
}

.review__link:hover,
.review__link:focus {
  color: var(--accent-color);
}

.review__rating {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: calc(var(--unit) / 2);
}

.review__number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--basic-radius);
  width: 48px;
  height: 32px;
  background-color: var(--primary-dark-color);
  color: var(--general-white-color);
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-weight: 600;
}

.review__number-review {
  font-size: 14px;
  color: var(--secondary-text-color);
}

.review__reviewer {
  display: flex;
  align-items: center;
  gap: var(--unit);
  margin-bottom: var(--unit);
}

.review__wrap-icon {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review__icon {
  width: 54px;
  height: 54px;
  fill: var(--secondary-text-color);
}

.review__reviewer-info {
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit) / 2);
}

.review__country {
  display: flex;
  align-items: center;
  gap: 4px;
}

.review__country-flag {
  width: 16px;
  height: 12px;
}

.review__country-name {
  color: var(--secondary-text-color);
}

.review__sm-carousel {
  display: none;
}

.footer {
  background-color: var(--primary-dark-color);
  color: var(--general-white-color);
  padding-top: var(--block-space);
  padding-bottom: var(--block-space);
}

.footer__logo-wrap {
  display: none;
}

.footer-wrap {
  margin-bottom: 40px;
}

.footer__list {
  font-size: 20px;
}

.footer__item-title {
  font-weight: 500;
}

.footer__item {
  margin-bottom: 24px;
}

.footer__link {
  color: var(--general-white-color);
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus {
  cursor: pointer;
  color: var(--accent-color);
}

.footer__copyright {
  font-size: 14px;
}

@media (max-width: 1024px) {
  /*For mobile tablets:*/

  :root {
    --block-space: 80px;
    --max-width-container: 656px;
    --padding-container: 54px;
    --title-bottom: 80px;
    --basic-radius: 6px;
    --unit: 8px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 20px;
  }

  .md-1-col {
    grid-template-columns: 1fr;
  }

  .md-2-col {
    grid-template-columns: repeat(2, 1fr);
  }

  .md-3-col {
    grid-template-columns: repeat(3, 1fr);
  }

  .md-4-col {
    grid-template-columns: repeat(4, 1fr);
  }

  .md-5-col {
    grid-template-columns: repeat(5, 1fr);
  }

  .md-6-col {
    grid-template-columns: repeat(6, 1fr);
  }

  .md-7-col {
    grid-template-columns: repeat(7, 1fr);
  }

  .md-8-col {
    grid-template-columns: repeat(8, 1fr);
  }

  .md-9-col {
    grid-template-columns: repeat(9, 1fr);
  }

  .md-10-col {
    grid-template-columns: repeat(10, 1fr);
  }

  .md-11-col {
    grid-template-columns: repeat(11, 1fr);
  }

  .md-12-col {
    grid-template-columns: repeat(12, 1fr);
  }

  .header {
    margin: 0;
  }

  .header__wrapper {
    height: 64px;
  }

  .header__logo {
    max-width: 150px;
    height: 32px;
    margin: 0;
  }

  .header__menu {
    display: none;
  }

  .header__buttons {
    gap: calc(var(--unit) * 2);
  }

  .header__button:last-child {
    display: block;
  }

  .header__img-night {
    max-width: 24px;
    margin: 0;
  }

  .header__img-login,
  .header__img-menu {
    max-width: 32px;
    margin: 0;
  }

  .top-section {
    padding-top: 150px;
    padding-bottom: var(--block-space);
  }

  .top-section__title-wrap {
    margin-bottom: var(--title-bottom);
  }

  .top-section__title {
    max-width: 475px;
    font-size: 40px;
  }

  .search-form {
    display: none;
  }

  .search-form--md-sm {
    display: grid;
    gap: calc(var(--unit) * 2);
    font-size: 18px;
    font-weight: 500;
    padding: calc(var(--unit) * 2);
    background-color: var(--accent-color);
    margin-bottom: var(--block-space);
  }

  .search-form__element-wrap--md-sm {
    display: grid;
    position: relative;
    background-color: var(--general-white-color);
    height: 56px;
    white-space: normal;
    border-radius: var(--basic-radius);
    align-content: end;
  }

  .search-form__wrap-location--md-sm {
    grid-column: 1/3;
  }

  .search-form__location-wrap--md-sm {
    display: flex;
    width: 100%;
    height: 56px;
    padding: var(--unit) calc(var(--unit) * 2);
  }

  .search-form__location-icon--md-sm {
    margin-right: calc(var(--unit) * 2);
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--secondary-text-color);
  }

  .fa-solid {
    font-size: 16px;
  }

  .search-form__location-input--md-sm {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  .search-form__input-location--md-sm {
    border-radius: var(--basic-radius);
    width: 100%;
    padding: 0;
    height: 60%;
  }

  .search-form__wrap-check--md-sm {
    padding: var(--unit) calc(var(--unit) * 2);
  }

  .search-form__input-check--md-sm {
    border-radius: var(--basic-radius);
    width: 100%;
    padding: 0;
  }

  .search-form__wrap-options--md-sm {
    grid-column: 1/3;
  }

  .search-form__options-inputs {
    display: flex;
  }

  .search-form__options-input--md-sm {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 33.33%;
    height: 56px;
    padding: var(--unit) calc(var(--unit) * 2);
  }

  .search-form__input-option--md-sm {
    width: 100%;
    height: 60%;
    padding: 0;
    border-radius: var(--basic-radius);
  }

  .search-form__options-input--md-sm:nth-child(-n + 2):after {
    content: "";
    position: absolute;
    left: 100%;
    height: 40px;
    border-right: 1px solid var(--secondary-text-color);
  }

  .search-form__button-search--md-sm {
    background-color: var(--primary-color);
    align-content: center;
    grid-column: 1/3;
    border-radius: var(--basic-radius);
    font-weight: 500;
    font-size: 22px;
    color: var(--general-white-color);
  }

  .search-form__location-input--md-sm > label,
  .search-form__wrap-check--md-sm > label,
  .search-form__options-input--md-sm > label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: all 0.3s;
    pointer-events: all;
    font-size: 16px;
    font-weight: 400;
  }

  .search-form__location-input--md-sm > label {
    font-weight: 500;
    font-size: 18px;
    left: 0;
  }

  .search-form__input-location--md-sm:focus ~ label,
  .search-form__input-location--md-sm:not(:focus):valid ~ label {
    top: 8px;
    color: var(--text-color);
    opacity: 1;
  }

  .search-form__input-check--md-sm:focus ~ label,
  .search-form__input-check--md-sm:not(:focus):valid ~ label,
  .search-form__input-option--md-sm:focus ~ label,
  .search-form__input-option--md-sm:not(:focus):valid ~ label {
    top: 16px;
    color: var(--text-color);
    opacity: 1;
  }

  .top-section__download-wrap {
    gap: calc(var(--unit) * 2);
  }

  .col-md-1 {
    width: var(--col-width);
  }

  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }

  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }

  .col-md-9 {
    width: calc(var(--col-width) * 9);
  }

  .col-md-10 {
    width: calc(var(--col-width) * 10);
  }

  .col-md-11 {
    width: calc(var(--col-width) * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  [class*="col-"] {
    padding-left: var(--unit);
    padding-right: var(--unit);
  }

  [class*="col-md"]._right {
    display: flex;
    justify-content: flex-end;
  }

  [class*="col-md"]._center {
    display: flex;
    justify-content: center;
  }

  [class*="col-md"]._left {
    display: flex;
    justify-content: flex-start;
  }

  .row {
    margin-bottom: -32px;
  }

  .offer__title:after {
    display: none;
  }

  .offer__card {
    margin-bottom: calc(var(--unit) * 4);
  }

  .offer__img {
    max-width: 90px;
    margin-bottom: calc(var(--unit) * 4);
  }

  .apartments__card {
    margin-bottom: calc(var(--unit) * 4);
  }

  .apartments__img {
    max-width: 328px;
    margin-bottom: calc(var(--unit) * 2);
  }

  .apartments__link {
    font-size: 20px;
    margin-bottom: calc(var(--unit) * 2);
  }

  .apartments__wrap-cards:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--border-light-color);
    background-image: url("../images/svg/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    top: 41%;
    right: -5%;
    box-shadow: 0 4px rgba(0, 0, 0, 25%);
    cursor: pointer;
  }

  .none-md-sm {
    display: none;
  }

  .destinations__wrap-form {
    margin-bottom: calc(var(--unit) * 8);
  }

  .destinations__form {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: transparent;
    margin-bottom: 0;
    font-size: 20px;
  }

  .destinations__button-regions,
  .destinations__button-cities {
    border: 1px solid var(--border-light-color);
    width: 100%;
    max-width: 150px;
    height: 100%;
  }

  .destinations__button-places {
    border: 1px solid var(--border-light-color);
    width: 100%;
    max-width: 180px;
    height: 100%;
  }

  .destinations__card {
    margin-bottom: calc(var(--unit) * 4);
  }

  .destinations__img {
    max-width: 328px;
    margin-bottom: calc(var(--unit) * 2);
  }

  .destinations__link {
    font-size: 20px;
  }

  .destinations__wrap-cards:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--border-light-color);
    background-image: url("../images/svg/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    top: 41%;
    left: 97%;
    box-shadow: 0 4px rgba(0, 0, 0, 25%);
    cursor: pointer;
  }

  .sing-up {
    padding: calc(var(--unit) * 6) calc(var(--unit) * 2);
    gap: calc(var(--unit) * 2);
  }

  .sing-up__title {
    font-weight: 500;
    margin-bottom: 20px;
  }

  .sing-up__logo {
    width: 70px;
    height: 70px;
  }

  .sing-up__button {
    height: 32px;
  }

  .sing-up__close {
    top: 16px;
    right: 16px;
    font-size: 22px;
  }

  .reviews__wrap-cards {
    position: relative;
    margin-bottom: 0;
    font-size: 16px;
  }

  .reviews__wrap-cards:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--border-light-color);
    background-image: url("../images/svg/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    left: 96%;
    top: 24%;
    transform: rotate(0deg);
    box-shadow: 0 4px rgba(0, 0, 0, 25%);
    cursor: pointer;
    z-index: 1;
  }

  .review__price {
    padding: 0 calc(var(--unit) * 2);
  }

  .review__card-content {
    padding: calc(var(--unit) * 2);
  }

  .review__wrap-links {
    margin-bottom: calc(var(--unit) * 2);
  }

  .review__rating {
    gap: var(--unit);
  }

  .review__wrap-icon {
    width: 40px;
    height: 40px;
  }

  .review__icon {
    width: 100%;
    height: 100%;
  }

  .review__reviewer-info {
    gap: var(--unit);
  }

  .review__md-none {
    display: none;
  }

  .footer__logo-wrap {
    display: block;
    text-align: center;
  }

  .footer__logo {
    max-width: 150px;
    height: 32px;
    fill: var(--general-white-color);
    margin-bottom: calc(var(--unit) * 8);
  }

  .footer-wrap {
    margin-bottom: 40px;
  }

  .footer__item {
    display: none;
  }

  .footer__item:first-child {
    display: block;
  }

  .footer__item {
    text-decoration: underline;
  }

  .footer__copyright {
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  /*For mobile phones:*/
  :root {
    --col-width: calc(100% / 6);
    --block-space: 40px;
    --padding-container: 16px;
    --title-bottom: 32px;
    --unit: 8px;
    --basic-radius: 4px;
  }

  .container {
    max-width: 100%;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 15px;
  }

  .sm-1-col {
    grid-template-columns: 1fr;
  }

  .sm-2-col {
    grid-template-columns: repeat(2, 1fr);
  }

  .sm-3-col {
    grid-template-columns: repeat(3, 1fr);
  }

  .sm-4-col {
    grid-template-columns: repeat(4, 1fr);
  }

  .sm-5-col {
    grid-template-columns: repeat(5, 1fr);
  }

  .sm-6-col {
    grid-template-columns: repeat(6, 1fr);
  }

  .header__wrapper {
    height: 48px;
  }

  .header__logo {
    max-width: 122px;
    height: 24px;
  }

  .header__img-night {
    max-width: 16px;
  }

  .header__img-login,
  .header__img-menu {
    max-width: 24px;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .sing {
    order: 6;
  }

  .reviews {
    order: 5;
  }

  .top-section {
    padding-top: 88px;
    padding-bottom: var(--block-space);
  }

  .top-section__title {
    max-width: 328px;
    font-size: 30px;
  }

  .search-form--md-sm {
    height: 232px;
    gap: var(--unit);
    background-color: var(--accent-color);
    margin-bottom: calc(var(--unit) * 4);
    font-size: 15px;
    font-weight: 500;
    padding: var(--unit);
  }

  .search-form__element-wrap--md-sm {
    height: 48px;
    border-radius: var(--basic-radius);
  }

  .search-form__location-wrap--md-sm {
    height: 48px;
    padding: 8px 12px;
  }

  .search-form__location-icon--md-sm {
    margin-right: var(--unit);
    font-size: 18px;
  }

  .search-form__input-location--md-sm {
    border-radius: var(--basic-radius);
  }

  .search-form__wrap-check--md-sm {
    padding: var(--unit);
  }

  .search-form__input-check--md-sm {
    border-radius: var(--basic-radius);
  }

  .search-form__options-input--md-sm {
    height: 48px;
    padding: var(--unit);
  }

  .search-form__input-option--md-sm {
    border-radius: var(--basic-radius);
  }

  .search-form__options-input--md-sm:nth-child(-n + 2):after {
    height: 32px;
  }

  .search-form__button-search--md-sm {
    font-size: 19px;
  }

  .search-form__location-input--md-sm > label,
  .search-form__wrap-check--md-sm > label,
  .search-form__options-input--md-sm > label {
    left: 8px;
    font-size: 12px;
  }

  .search-form__location-input--md-sm > label {
    font-size: 15px;
    left: 0;
  }

  .search-form__input-location--md-sm:focus ~ label,
  .search-form__input-location--md-sm:not(:focus):valid ~ label {
    top: 6px;
    color: var(--text-color);
    opacity: 1;
  }

  .search-form__input-check--md-sm:focus ~ label,
  .search-form__input-check--md-sm:not(:focus):valid ~ label,
  .search-form__input-option--md-sm:focus ~ label,
  .search-form__input-option--md-sm:not(:focus):valid ~ label {
    top: 12px;
  }

  .col-sm-1 {
    width: var(--col-width);
  }

  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-sm-3 {
    width: 50%;
  }

  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-sm-6 {
    width: 100%;
  }

  [class*="col-sm"]._right {
    display: flex;
    justify-content: flex-end;
  }

  [class*="col-sm"]._center {
    display: flex;
    justify-content: center;
  }

  [class*="col-sm"]._left {
    display: flex;
    justify-content: flex-start;
  }

  .offer {
    padding-top: calc(var(--unit) * 3);
  }

  .offer__wrap-cards {
    display: flex;
    justify-content: center;
  }

  .offer__img {
    max-width: 70px;
    margin-bottom: calc(var(--unit) * 2);
  }

  .apartments__img {
    margin-bottom: var(--unit);
  }

  .apartments__link {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .apartments__subtitle {
    font-size: 12px;
  }

  ._mobile-none {
    display: none;
  }

  .apartments__wrap-cards:before {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--border-light-color);
    background-image: url("../images/svg/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 7px;
    transform: rotate(0deg);
    top: 25%;
    right: -4px;
    box-shadow: 0 4px rgba(0, 0, 0, 25%);
  }

  .destinations__wrap-form {
    margin-bottom: calc(var(--unit) * 3);
  }

  .destinations__form {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    background-color: transparent;
    font-size: 19px;
  }

  .destinations__button-regions,
  .destinations__button-cities {
    border: 1px solid var(--border-light-color);
    width: 100%;
    max-width: 100px;
  }

  .destinations__button-places {
    border: 1px solid var(--border-light-color);
    width: 100%;
    max-width: 100px;
  }

  .destinations__wrap-cards:before {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--border-light-color);
    background-image: url("../images/svg/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 7px;
    transform: rotate(0deg);
    top: 31%;
    left: 93%;
    z-index: 1;
    box-shadow: 0 4px rgba(0, 0, 0, 25%);
  }

  .destinations__img {
    margin-bottom: var(--unit);
  }

  .destinations__link {
    font-size: 12px;
  }

  .sing-up {
    position: static;
    background-color: var(--general-white-color);
    padding: calc(var(--unit) * 3) 0;
    display: flex;
    align-items: center;
    gap: calc(var(--unit) * 2);
  }

  .sing-up__close {
    position: static;
    color: var(--secondary-text-color);
    font-size: 20px;
    order: 1;
  }

  .sing-up__logo {
    width: 100%;
    max-width: 58px;
    height: 58px;
    background-color: var(--primary-color);
    border-radius: var(--basic-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
  }

  .sing-up__svg {
    display: none;
  }

  .sing-up__logo-sm {
    display: block;
    width: 53px;
    height: 11px;
    fill: var(--general-white-color);
  }

  .sing-up__wrap-sm {
    display: flex;
    align-items: center;
    order: 3;
    gap: calc(var(--unit) * 2);
  }

  .sing-up__title {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0;
  }

  .sing-up__part-title {
    display: inline-block;
  }

  .sing-up__button-lg-md {
    display: none;
  }

  .sing-up__button-sm {
    display: inline-block;
  }

  .sing-up__button {
    background: var(--general-white-color);
    border: none;
    width: 100%;
    max-width: 41px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    color: var(--primary-color);
  }

  .sing-up__button:hover {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }

  .reviews {
    background-color: var(--bg-color);
  }

  .reviews__lg {
    display: none;
  }

  .reviews__sm {
    display: block;
  }

  .reviews__wrap-cards {
    font-size: 15px;
  }

  .review__img {
    max-width: 568px;
    width: 100%;
    aspect-ratio: 1/1;
  }

  .reviews__wrap-cards:before {
    display: none;
  }

  .review__price {
    display: none;
  }

  .review__card-content {
    padding: 12px 0 0;
  }

  .review__wrap-links {
    margin-bottom: var(--unit);
  }

  .review__rating {
    gap: calc(var(--unit) / 2);
  }

  .review__number {
    width: 40px;
    height: 27px;
  }

  .review__number-review {
    font-size: 12px;
  }

  .review__reviewer {
    gap: var(--unit);
    margin-bottom: calc(var(--unit) * 2);
  }

  .review__wrap-icon {
    width: 52px;
    height: 52px;
  }

  .review__icon {
    width: 44px;
    height: 44px;
  }

  .review__reviewer-info {
    gap: var(--unit);
  }

  .review__text {
    margin-bottom: calc(var(--unit) * 4);
  }

  .review__sm-carousel {
    display: flex;
    justify-content: center;
    gap: var(--unit);
  }

  .review__sm-cirсle {
    width: 8px;
    height: 8px;
    border: 1px solid #333333;
    border-radius: 50%;
  }

  .review__sm-cirсle:first-child {
    background-color: #333333;
  }

  ._review__sm-none {
    display: none;
  }

  .footer__logo {
    max-width: 98px;
    height: 19px;
    margin-bottom: calc(var(--unit) * 5);
  }

  .footer-wrap {
    margin-bottom: 32px;
  }

  .footer__item {
    margin-bottom: 0;
  }

  .footer__list {
    font-size: 15px;
  }
}
